// Bonuses
.bonus__wrapper {
	padding: 30px 0;
	border-bottom: 1px solid var(--color-border);
}
.bonus__container {
	max-width: 1300px;
	width: 100%;
	padding: 0 16px;
	margin: 0 auto;
}
.bonus {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 60px;
	align-items: center;

	&.bonus__reverse {
		@media (width <= 768px) {
			flex-direction: column-reverse;
		}
	}
	@media (width <= 768px) {
		display: flex;
		flex-direction: column;
		align-items: start;
	}
	// .bonus__item
	&__item {
		display: flex;
		flex-direction: column;
		gap: var(--gap);
		width: 100%;
	}

	// .bonus__subtitle
	&__subtitle {
		font-size: 20px;
		font-weight: 500;
		letter-spacing: 4px;
		line-height: 1;
		color: var(--color-accent);
		text-transform: uppercase;
	}

	// .bonus__text

	&__text {
		font-size: 20px;
		color: var(--color-text);
		line-height: 30px;
		font-weight: 400;
	}

	// .bonus__image

	&__image {
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			max-width: 100%;
			width: 100%;
			height: auto;
			object-fit: cover;
		}
	}
}

// Const
.section__cost {
	.cost__subtitle {
		font-size: 40px;
		font-weight: 900;
		line-height: 43px;
		color: var(--color-white);
		margin: 20px 0 34px 0;
	}
	.cost__subtext {
		font-size: 30px;
		margin-top: 50px;
		line-height: 43px;
	}
}
